# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
src/ 
# II&T code for e2e tests may install in src/ if package by same name already installed in your env library

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/source/_build/

# PyBuilder
target/

# aux data
tests/simdata/*
tests/walker_output/*
tests/testcalib/*
tests/e2e_tests/**/*.json
tests/e2e_tests/*/*.json
tests/ops_output/*.json
tests/test_data/L4_to_TDA_Inputs/*
tests/e2e_tests/pc_sim_test_data/l2a/*.json
tests/e2e_tests/pc_sim_test_data/l2a_dark/*.json
tests/e2e_tests/pc_sim_test_data/*.json
*.xlsx

# editor files
.vscode/*
.*.swp
.exrc

#jupyter cruft
.ipynb_checkpoints

# mac cruft
.DS_Store

# data files
*.FITS
*.fits
!nonlin_table_TVAC.fits

# Output figures
figures/
tests/figures/
tests/e2e_tests/**/*.png
tests/e2e_tests/*/*.png
tests/e2e_tests/*_output
tests/test_data/simastrom/guesses.csv
tests/e2e_tests/data_format_docs/*.rst
