include requirements.txt
include corgidrp/recipe_templates/*.json
include tests/test_data/example_L1_input.fits
include tests/test_data/metadata.yaml
include tests/test_data/metadata_eng.yaml
include tests/test_data/nonlin_sample.csv
include tests/test_data/nonlin_sample.fits
include tests/test_data/fpam_to_excam_modelbased.fits
include tests/test_data/fsam_to_excam_modelbased.fits
include corgidrp/data/JWST_CALFIELD2020.csv
include corgidrp/data/stellar_polarization_database.csv
include corgidrp/data/filter_curves/pupil_lens_v0.txt
include corgidrp/data/filter_curves/imaging_lens_v0.txt
include corgidrp/data/filter_curves/*.csv
include corgidrp/data/header_formats/l1.csv
include corgidrp/data/spectroscopy/templates/*.fits
include corgidrp/data/spectroscopy/CGI_bandpass_centers.csv
include corgidrp/data/spectroscopy/TVAC_PRISM3_dispersion_profile.npz
include corgidrp/data/header_formats/l1.csv